html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body > footer {
  margin-top: auto;
}

.column {
  padding: 0;
}

.has-background-img-1 {
  background-image: url(assets/3-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.has-background-img-2 {
  background-image: url(assets/5-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
